{%extends "base.html"%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    {% block head %}
    <style>
.maaxen-breadcromb-area {
      background-image: url('{% static "images/homeone.jpg"%}');
        background-attachment: fixed;
        width: 100%;
        height:400px;
        margin-top: -4%;
    
    
        
    
} 
.section_70 {
    padding: 70px 0;
}
.bg{
        background-image: url('{% static "images/homeone.jpg"%}');
        
        width: 100%;
        height:250px;
        margin-top: -2%;
    }
.widget_card_page {
    background: #fff none repeat scroll 0 0;
    color: #333;
    margin-top: 30px;
    padding: 50px 20px;
    position: relative;
    text-align: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .11);
}
.profile-widget-info, .profile-widget-social {
    margin-top: 85px;
}
.profile-left-menu {
    background: #fff none repeat scroll 0 0;
    color: #333;
    margin-top: 30px;
    padding: 30px;
    position: relative;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .11);
}
.profile-left-menu h3, .profile-form h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #111;
    letter-spacing: 1px;
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    display: block;
    position: relative;
    text-transform: capitalize;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.profile-left-menu h3:before, .profile-form h3:before {
    position: absolute;
    content: "";
    width: 30%;
    height: 2px;
    background: #111 none repeat scroll 0 0;
    left: 0;
    bottom: -15px;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.profile-box {
    position: relative;
    
    background: #fff none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    border-radius: 0;
    margin: 0;
}.profile-box.header_bg_green.favourite_page:after {
    height: 40%;
}
.profile-box.header_bg_green:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 52%;
    background: #111 none repeat scroll 0 0;
    z-index: -1;
}
.profile-widget-img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.profile-widget-img img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    
    z-index: 99;
    border: 8px solid rgba(221, 221, 221, 0.7);
    margin-top: 35px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.maaxen-profile-page-area {
    background: #f8f9fc none repeat scroll 0 0;
    padding-top: 40px;
}
.breadcromb-box {
    text-align: center;
    
    }
    .breadcrumbs-menu {
	text-align: center;
   position: relative;
   
}
.breadcrumbs-menu:before {
	
	font-family: 'FontAwesome';
	color: #111;
	font-size: 15px;
	display: inline-block;
   padding-right: 5px;
   
}

.breadcrumbs-menu li {
	display: inline-block;
}

.breadcrumbs-menu li:first-child {
	position: relative
}

.breadcrumbs-menu li a,
.breadcrumbs-menu li span {
	font-size: 15px;
	color: #fff;
	line-height: 1.8;
	font-weight: 500;
	text-transform: capitalize;
	position: relative;
}
.breadcrumbs-menu li:first-child:after {
	font-family: 'FontAwesome';
	display: inline-block;
	content: '\f105';
	font-size: 14px;
	letter-spacing: -.02em;
	padding: 0 10px;
	color: #c5c5c5;
}
.profile-right {
    background: #fff none repeat scroll 0 0;
    color: #333;
    margin-top: 50px;
    padding: 30px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .11);
}
.breadcromb-box h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 3px;
    margin-bottom: 15px;
}
.profile-form input {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 5px 10px;
    color: #333;
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 5px;
}
.profile-form label {
    color: #333;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 13px;
}
.profile-form h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #111;
    letter-spacing: 1px;
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    display: block;
    position: relative;
    text-transform: capitalize;
}
.profile-form h3:before {
    position: absolute;
    content: "";
    width: 30%;
    height: 2px;
    background: #111 none repeat scroll 0 0;
    left: 0;
    bottom: -15px;
}
.profile-form h3:after {
    position: absolute;
    content: "";
    width: 40%;
    height: 2px;
    background: #333 none repeat scroll 0 0;
    left: 0;
    bottom: -10px;
}
li {
    list-style-type: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.profile-left-menu {
    background: #fff none repeat scroll 0 0;
    color: #333;
    margin-top: 30px;
    padding: 30px;
    position: relative;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .11);
}

.profile-form p>button {
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    padding: 5px 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #333;
    font-weight: 600;
    background: #333 none repeat scroll 0 0;
    width: auto;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    }
.profile-form p button:hover {
	background: #fff none repeat scroll 0 0;
	color: #333;
	border: 1px solid #333;
}
.profile-left-menu li a:hover, .profile-left-menu li.active a {
    text-decoration: none;
    background: black;
    color: blanchedalmond;
}
.profile-left-menu li a {
    display: block;
    color: #333;
    padding: 7px 0px;
    text-transform: capitalize;
}
a {
    /* -webkit-transition: all 0.4s ease 0s; */
    transition: all 0.4s ease 0s;
    color: #6b739c;
}
a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
    /* -webkit-text-decoration-skip: objects; */
}
.profile-form p {
	margin-top: 20px;
}
*{
   padding: 0;
            margin: 0;
        }
.profile-left-menu h3:after, .profile-form h3:after {
    position: absolute;
    content: "";
    width: 40%;
    height: 2px;
    background: black none repeat scroll 0 0;
    left: 0;
    bottom: -10px;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
</style>
{% endblock %}
</head>
{% block myblock %}
<body style="background: #f8f9fc;">
<section class="maaxen-breadcromb-area">
        <div class="container-fluid">
           <div class="row">
              <div class="col-md-12">
                 <div class="breadcromb-box">
                    <h2>Change Password</h2>
                    <ul class="breadcrumbs-menu">
                        <i class="fas fa-home text-light bg"></i>
                       <li><a href="" class="home">Home ></a></li>
                       <li><span>Change Password</span></li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- end of header-->
     <section class="maaxen-profile-page-area section_70">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-sm-12">
               <div class="profile-left">
                  <div class="single-profile-widget">
                     <div class="widget_card_page profile-box header_bg_green favourite_page">
                        <div class="profile-widget-img">
                           <img src="/media/{{data.profile_image}}" class="blah" alt="profile">
                        </div>
                        <div class="profile-widget-info" >
                           <h3 style="margin-bottom:50px ;padding: 30px;">{{user.first_name}} {{user.last_name}}</h3>
                           <!-- <p style="display:block;margin:0;margin-block-start: 1em;margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px;">Agent in New York</p> -->
                        </div>
                     </div>
                  </div>
                  <div class="single-profile-widget">
                     <div class="profile-left-menu">
                        <h3>Manage account</h3>
                        <ul>
                           <li>
                              <a href="{% url 'dashboard' %}"><i class="fas fa-user"></i> My Profile</a>
                           </li>
                           {% if user.is_staff %}
                           <!--<li>
                              <a href="{% url 'favourite' %}"><i class="fas fa-heart"></i> Favourite Properties</a>
                           </li>-->
                           <li>
                              <a href="{% url 'addproperty' %}"><i class="fas fa-plus"></i> Submit New Property</a>
                           </li>
                           <li>
                              <a href="{% url 'myproperty' %}"><i class="fas fa-file-archive"></i> my properties</a>
                           </li>
                           <li>
                   <a href="{% url 'mycustomers' %}"><i class="fa fa-user"></i> My Customers</a> 

                           </li>
                           {% else %}
                           <li><a href="{% url 'mybookings' %}"><i class="fa fa-check"></i>My Bookings</a></li>
                           {% endif %}
                           <li>
                              <a href="{% url 'editprofile' %}"><i class="fa fa-edit"></i> Edit Profile</a>
                           </li>
                           <li>
                              <a href="{% url 'changepassword' %}"><i class="fas fa-lock"></i> Change Password</a>
                           </li>
                           <li>
                              <a href="{% url 'user_logout' %}"><i class="fas fa-power-off"></i> Log out</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-8 col-sm-12">
               <div class="profile-right">
                  <form method="POST">
                     {% csrf_token %}
                     {% if msz %}
                        <div class="alert {{col}} ">{{msz}}</div>
                     {% endif %}
                     <div class="profile-form">
                        <h3>Change Password</h3>
                        <div class="row">
                           <div class="col-md-12">
                              <p>
                                 <label>What is your favourite movie?</label>
                                 <input type="text" placeholder="Enter Your Answer">
                              </p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-4">
                              <p>
                                 <label>Old Password</label>
                                 <input type="password" placeholder="Enter Password" name="cpwd" required>
                              </p>
                           </div>
                           <div class="col-md-4">
                              <p>
                                 <label>New Password</label>
                                 <input type="password" placeholder="Enter Password" name="npwd" id="npas" onkeyup="check_pass()" required>
                              </p>
                           </div>
                           <div class="col-md-4">
                              <p>
                                 <label>Confirm Password</label>
                                 <input type="password" placeholder="Enter Password" name="cnpwd" id="cpas" onkeyup="check_pass()" required>
                              </p>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                              <p>
                                 <button type="submit" id="submitbtn">Change Password</button>
                              </p>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
   <script>
      function check_pass(){
          let p = $("#npas").val();
          let cp = $("#cpas").val();
          if(p==cp){
              $("#npas").css("border","3px solid green");
              $("#cpas").css("border","3px solid green");
              $("#submitbtn").removeAttr("disabled");
          }else{
              $("#npas").css("border","3px solid red");
              $("#cpas").css("border","3px solid red"); 
              $("#submitbtn").attr("disabled","disabled");
          }
      }
  </script>
   {% endblock %}
   <!--end of left profile code-->
    
</body>
</html>