{% extends "base.html" %}
{% load static %}
{% block head %}
<style>
.col4{
   background: white;
   margin-top: -1%!important;
   line-height: 40px!important;
  
      }
   .col4 h2{
   text-decoration: underline double black ;
   }
   .col4 a{
   color: black!important;
  }
  .div1,.div2{
      height: 130px;
  }
  .div1 p{
      display: none;
  }
  .img{
      margin-top: -24%!important;
      border: 4px solid gray;
      height: 170px;
  }
.div2,.col2
{
   background: white;
}
</style>
{% endblock %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="div1 col4 mt-3 ml-3 mt-5 bg-primary text-center">
                <p>h</p>
           </div>
           <div class="div2 text-center">
                <img src="{% static 'images/formal5.jpg'%}" class="img">
           </div>
           <div class="bg-light col4 my-4">
           <h2 class="col4">Manage Account</h2>

    <li>
       <a href="{% url 'dashboard' %}"><i class="fa fa-user"></i> My Profile</a>
    </li>
    <li>
       <a href="{% url 'favourite' %}"><i class="fa fa-heart"></i> Favourite Properties</a>
    </li>
    <li>
       <a href="{% url 'addproperty' %}"><i class="fa fa-plus"></i> Submit New Proerty</a>
    </li>
    <li>
       <a href="{% url 'myproperty' %}"><i class="fa fa-file-archive"></i>My properties</a>
    </li>
    <li>
        <a href="{% url 'editprofile' %}">Edit profile</a>
    </li>
    <li>
       <a href="{% url 'changepassword' %}"><i class="fa fa-lock"></i> Change Password</a>
    </li>
    <li>
       <a href="{% url 'user_logout' %}"><i class="fa fa-power-off"></i> Log out</a>
    </li>
            </div>

            
 
        </div>
    </div>
</div>
{% endblock %}