{% extends "base.html"%}
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    {% block head %}
    <style>
        
        #img{
            background-image: url('{% static "images/background5.jpg"%}');
            height: 300px;
            background-attachment: fixed;
            margin-top: -4%;
        }
        .h1{
            height: 1px;
            width: 100%;
            border: 1px solid black;
        }
        .col4{
    background: white;
    margin-top: -1%!important;
    line-height: 40px!important;
   
       }
    .col4 h2{
    text-decoration: underline double black ;
    }
    .col4 a{
    color: black!important;
   }
   .div1,.div2{
       height: 130px;
   }
   .div1 p{
       display: none;
   }
   .img{
       margin-top: -24%!important;
       border: 4px solid gray;
       height: 170px;
   }
.div2,.col2
{
    background: white;
}
    </style>
    {% endblock %}
</head>
{% block myblock %}
<body class="body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="img">
                <h1 style="text-align: center;margin-top: 120px;color:black ; font-family:cursive; font: bold;">My Properties</h1>
                <h3 style="color:black; font-family: cursive;text-align: center; font: bold;">Dashboard > My Properties ({{properties|length}})</h3>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-3">
                
                    <div class="div1 col4 mt-3 ml-3 mt-5 bg-primary text-center">
                        <p>{{user.first_name}}{{user.last_name}}</p>
                   </div>
                   <div class="div2 col4 text-center">
                        <img src="/media/{{data.profile_image}}" class="img">
                   </div>
                   <div class="bg-light my-4 col4">
                   <h2 class="col4">Manage Account</h2>
        
            <li>
               <a href="{% url 'dashboard' %}"><i class="fa fa-user"></i> My Profile</a>
            </li>
            <!--<li>
               <a href="{% url 'favourite' %}"><i class="fa fa-heart"></i> Favourite Properties</a>
            </li>-->
            {% if user.is_staff %}
            <li>
               <a href="{% url 'addproperty' %}"><i class="fa fa-plus"></i> Submit New Property </a>
            </li>
            <li>
               <a href="{% url 'myproperty' %}"><i class="fa fa-file-archive"></i>My properties</a>
            </li>
            <li>
                <a href="{% url 'mycustomers' %}"><i class="fa fa-user"></i> My Customers</a> 
            </li>
            {% else %}
            <li><a href=""><i class="fa fa-check"></i>My Bookings</a></li>
            {% endif %}
            <li>
                <a href="{% url 'editprofile' %}"><i class="fa fa-edit"></i> Edit profile</a>
            </li>
            <li>
               <a href="{% url 'changepassword' %}"><i class="fa fa-lock"></i> Change Password</a>
            </li>
            <li>
               <a href="{% url 'user_logout' %}"><i class="fa fa-power-off"></i> Log out</a>
            </li>
                    </div>
            </div>
            <div class="col-md-9">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Property ID</th>
                            <th>Property Image</th>
                            <th>Property Name</th>
                            <th>Seller</th>
                            <th>Property Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in properties %}
                        <tr>
                            <td>{{p.id}}</td>
                            <td><img src="/media/{{p.property_image1}}" style="height: 80px; width: 100px;"></td>
                            <td>{{p.property_name}}</td>
                            <td>{{p.seller.first_name}} {{p.seller.last_name}}</td>
                            <td>
                                <button data-toggle="modal" data-target="#m{{p.id}}" class="btn btn-success"><i class="fa fa-eye">View</i></button>
                                <a href="{% url 'update_property' %}?pid={{p.id}}" class="btn btn-warning"><i class="fa fa-edit">Edit</i></a>
                                <a href="{% url 'delete_property' %}?pid={{p.id}}" class="btn btn-danger"><i class="fa fa-trash">Delete</i></a>
                            </td>
                        </tr>
                        <div class="modal" id="m{{p.id}}">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 style="text-align: center;">Property Details</h3>
                                        <button class="close" data-dismiss="modal">X</button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="/media/{{p.property_image1}}" alt="" style="height:200px; width:100%">
                                        <a href="{% url 'single_property' %}?pid={{p.id}}">{{p.property_name}}</a>
                                        <p>({{p.property_category.cat_name}})</p>
                                            <strong>{{p.details}}</strong><br>
                                            <del> &#8377; {{p.property_price}}</del>
                                            <h6>&#8377; {{p.sale_price}}</h6>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'single_property' %}?pid={{p.id}}" class="btn btn-success">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>