{% extends "base.html"%}
{%load static %}
{% block myblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="jquery.js"></script>
    <script src="js/bootstrap.css"></script>
    <style>
      #pic1{
        background-image: url('{% static "images/background 11.png"%}');
          height: 280px;
          width: 100%;
          margin-top: -2%;
      }
     
      .h1{
        height: 1px;
        width: 100%;
        border: 1px solid white;
      }
</style>
</head>
<body class="body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="pic1">
                <h1 style="color:black;margin-top: 2%;" class="text-center">PROPERTY DETAILS</h1>
            </div>
        </div>
    </div>
           
    
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'images/housecontact.jpg'%}" alt="" style="height:250px; width:300px;"> 
        </div>
        <div class="col-md-8">
           <h4 style="color: black;">Birla properties</h4>
           <h5 style="color: black;">&#8377 50,000pm</h5>
           <h5 style="color: black;">Address: Shivalik City,kharar-landran road,Punjab</h5>
           <p style="color: black;">A beautiful house with 3 bedrooms and attached washroom
            A dinning hall with open and modular kitchen is provided.
             There is market nearby with many other facilities like gym, grocery shops, etc.
            Maintainance is included in the rent monthly. There is no brokerage and no interference of owner.
            </p>
            <h5 style="color: black;">Bachelors allowed, Family allowed</h5>
            <h6 style="color: black;">(Updated 5 hours ago)</h6>
            <button class="btn btn-warning">Next Page</button>
            <button class="btn btn-success">CONTACT THE AGENT</button>
         
            
        </div>
      </div>
    </div>
    
          

    </div>
  
</body>
</html>
{% endblock %}

