{% extends "base.html" %}
{% load static %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        

        <div class="col-md-12 " style="background: url('/static/images/background10.jpg'); height: 150px;">
            <h1 style="text-align: center; margin-top: 45px; color: white;">My Properties > Details</h1>
        </div>
    </div>
    {% if user.is_authenticated %}
    {% if user.is_staff %}
    <div class="alert alert-warning my-2 text-center"><h5>Sorry, You Cannot Book properties.</h5></div>
    {% else %}
    <form action="{% url 'process_payment' %}" method="POST" class="mx-auto"> 
        {% csrf_token %}
        <input type="hidden" name="pid" value="{{property.id}}">
        <button type="submit" class="mt-5 btn btn-success">
            <i class="fas fa-shopping-cart "></i>
            Book this Property
        </button>
    </form>
    {% endif %}
    {% else %}
    <div class="alert alert-danger text-center my-2"><em> You need to Login first to Book Properties.</em><a href="{% url 'user_login' %}" class="btn btn-info">Click here to login.</a></div>
    {% endif %}
    
   
    <div class="row">
        
        <div class="col-md-6 ">
            <h1 style="background: yellowgreen;line-height: 63px;text-align: center;">Property Details</h1>
            <div class="carousel slide my-2" data-ride='carousel' id='asaa'>
                <ul class="carousel-indicators">
                    <li data-target='#asaa' data-slide-to='0'></li>
                    <li data-target='#asaa' data-slide-to='1'></li>
                    <li data-target='#asaa' data-slide-to='2'></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/media/{{property.property_image1}}" style="width: 100%" alt="">
                        <div class="carousel-caption">Property Images(slide for more)</div>
                    </div>
                    <div class="carousel-item">
                        <img src="/media/{{property.property_image2}}" style="width: 100%;" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="/media/{{property.property_image3}}" style="width: 100%;" alt="">
                    </div>
                    <a href="#asaa" class="carousel-control-prev" data-slide='prev'>
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#asaa" class="carousel-control-next" data-slide='next'>
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <!--<img src="/media/{{property.property_image1}}"  class="img-fluid" style="height: 228px; width: 400px;">-->
            <table class="table mt-5">
                <tr>
                    <th >Property name</th>
                    <td>{{property.property_name}}</td>
                </tr>
                <tr>
                    <th>Property Category</th>
                    <td>{{property.property_category.cat_name}}</td>
                </tr>
                <tr>
                    <th>Market price</th>
                    <td><del> &#8377; {{property.property_price}}</del></td>
                    
                </tr>
                <tr>
                    <th>Offered Price</th>
                    <td> &#8377; {{property.sale_price}}</td>
                </tr>
                <tr>
                    <th>Details</th>
                    <td>{{property.details}}</td>
                </tr>
                <tr>
                    
                </tr>
                
            </table>
            
        </div>
        <div class="col-md-6">
            <h1 style="background: yellowgreen;line-height: 63px;text-align: center;">Seller Details</h1>
                    <table class="table">
                        <tr>
                            <th>Seller name</th>
                            <td>{{property.seller.first_name}} {{property.seller.last_name}}</td>
                        </tr>
                        <tr>
                            <th>Seller ID</th>
                            <td>{{property.seller.email}}</td>
                        </tr>
                        <tr>
                            <th>Added on</th>
                            <td>{{property.seller.date_joined}}</td>
                        </tr>
                    </table>
                
            
            <div class="row">
                <div class="col-md-12">
                    <h1 style="background: yellowgreen;line-height: 63px;text-align: center;">Category Details</h1>
                    <table class="table">
                        <tr>
                            <th>Category name</th>
                            <td>{{property.property_category.cat_name}}</td>
                        </tr>
                        <tr>
                            <th>Category image</th>
                            <td><img src="/media/{{property.property_category.cover_pic}}" style="height: 191px; width: 90%;box-shadow: 0px 0px 5px grey;"></td>
                        </tr>
                        <tr>
                            <th>Category details</th>
                            <td>{{property.property_category.description}}</td>
                        </tr>
                       
                    </table>
                </div>
            </div>
            
        </div>
    </div>    
</div>
{% endblock %}